<!DOCTYPE html>
<html data-ng-app="homeApp" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tim Cowley Webpage</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='css/bootstrap.css'>
		<link rel='stylesheet' href='css/style.css'>
		<script type='text/javascript' src='js/jQuery.js'></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class='container'>
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-muted">About Tim</h2>
				</div>
			</div>
			<div class="row">
				<div class='col-md-3'>
					<img class='img-responsive' src='images/tim-small.jpg' alt="tim's picture">
				</div>
				<div class="col-md-9">
					<p> I'm passionate about science and technology. I believe in the power of technology to
					solve difficult problems and am an advocate of data driven decision making. I find biology
					endlessly fascinating and believe in the importance of biomedical research. For these reasons
					I earned a PhD in molecular biology from the University of Pennsylvania. I later fell in love
					with computer science and am now working on a MS in Computer Science from Northeastern 
					University at their new Seattle branch campus. I am particuarly interested in data analysis and machine learning and I'm especially interested in how these may aid scientific research, improve decision making, and help find interesting/actionable
					information burried in a barage of data.   </p>

					<p> The motivation for this site is threefold. First I wanted to start a blog and needed a place to host it. Secondly, most of the work I have done would be considered "back-end" and I wanted to familarize myself with "front-end" technologies. Thirdly, I wanted a place to showcase my work for potential employers. All the designers I know have their own site, why can't us developers have them as well. </p>

					<p> While I will be gradually improving the look of the site, I'm not a designer and appearance isn't the primary goal. If it where I would have used a service. Instead I built something from scratch because that's more fun. </p>
				</div>
				<div class="col-md-12">
					<a target="_self" href='aboutme_professional'>professional skills and experience</a>
				</div>
				<div class="col-md-12">
					<a target="_self" href='aboutme_personal'>personal life, hobbies, opinions</a>				
				</div>			
			</div>	
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-muted">Course Projects</h2>
				</div>
			</div>
			<div class='row text-center'>
				<div class='col-md-4'>
					<a target="_blank" title="MOOC Project GitHub" href='https://github.com/timothycowley/Public/tree/master/MOOC_Project'>
						<img class='img-responsive' src='images/moocLogo3.jpg' alt='MOOC Project'></a>
				</div>
				<div class='col-md-4'>
					<a target="_blank" title="Markdown Project GitHub" href='https://github.com/timothycowley/Public/tree/master/WikiWeKey'>
						<img class='img-responsive' src='images/wikiwekey3.jpg' alt='Markdown Project'></a>
				</div>				
				<div class='col-md-4'>
					<!--<a target="_blank" title="Medicare Project GitHub" href='https://github.com/timothycowley/Public/tree/master/Medicare_Project'>-->
					<a target="_self" href='medicare' title="Medicare Project Details" >
						<img class='img-responsive' src='images/medicarehome4.jpg' alt='Medicare Project GitHub'></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-muted">Work Projects</h2>
				</div>
			</div>
		</div>
	</body>
</html>
