body {
	
	font-famiy: 'Lato', sans-serif;
	
	color: #c90101;
	font-weight: 300;

}



.text-muted {
	color: #4d3d3d;

}


.text-thin {
	font-weight: 100;

}


.title-super {
	font-size: 60px;
}


.title-logo {
	margin-top: 20px;
}




a {
	
	font-family: 'Lato', sans-serif;
	
	color: #c90101;
	
	font-weight: 300;

	font-size: 24px;
}

p {
	font-family: 'Lato', sans-serif;
	
	color: #000000;
}

